#root {
    padding-top: 60px;
    background-color: #f3f5f7;
}
.App{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.main-container {
    width: 377px;
    height: 290px;
    box-shadow:0 0 12px rgba(0, 0, 0, .16);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}
.sub-container{
    width: 345px;
    height: 187px;
}
.input-container{
    width: 345px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.input[type=text]{
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E4E4E7;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    outline: none;
}
input[type=text]:focus {
    border: 2px solid #2463EB;
}
#add-btn{
    width: 59px;
    height: 40px;
}
.active-button{
    background-color: #2463EB !important;
    color: white;
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
}
.title{
    width: 345px;
    height: 28px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
}
.filter-container{
    width: 345px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
}
.filter{
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
    color: #363636;
    background-color: #F3F4F6;
}
#add-btn{
    width: 59px;
    height: 40px;
    background-color: #3C82F6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
input::placeholder {
    color: #71717A;
    font-family: Inter;
    font-size: 14px;
}
.bttm-text{
    font-family: Inter;
    font-size: 14px;
    line-height: 16.94px;
    color: #6B7280;
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 345px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 251px;
}
#ftr-txt{
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #6B7280;
}
#clr-txt{
    color: #3B73ED;
}
.checkbox-border {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: #f0f0f0; 
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
.checkbox-border:checked {
    background-color: #2463EB;
    border-color: #015FCC;
  }
.active-container{
    width: 345px;
    height: 62px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #F9FAFB;
    transition: background-color 0.3s ease;
}
.active-container:hover{
    background-color: whitesmoke;
}