#root {
    padding-top: 60px;
    background-color: #f3f5f7;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: auto;
}

.main-container {
    width: 377px;
    height: fit-content;
    box-shadow: 0 0 12px rgba(0, 0, 0, .16);
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
}

.input-container {
    width: 345px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input[type=text] {
    width: 280px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid #E4E4E7;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    box-sizing: border-box;
    outline: none;
    font-family: Inter;
    font-size: 14px;
    line-height: 16.96px;
}

input[type=text]:focus {
    border: 2px solid #2463EB;
}

#add-btn {
    width: 59px;
    height: 40px;
}

.active-button {
    background-color: #2463EB !important;
    color: white;
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
}

.title {
    width: 345px;
    height: 28px;
    font-family: Inter;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.filter-container {
    width: 345px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.filter {
    width: fit-content;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 12px;
    cursor: pointer;
    border: none;
    padding: 4px 12px 4px 12px;
    border-radius: 6px;
    color: #363636;
    background-color: #F3F4F6;
}

#add-btn {
    width: 59px;
    height: 40px;
    background-color: #3C82F6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

input::placeholder {
    color: #71717A;
    font-family: Inter;
    font-size: 14px;
}

.bttm-text {
    font-family: Inter;
    font-size: 14px;
    line-height: 16.94px;
    color: #6B7280;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer-container {
    width: 345px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#ftr-txt {
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #6B7280;
}

#clr-txt {
    color: #3B73ED;
    text-decoration: none;
}

.checkbox-border {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #767676;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}

.checkbox-border:checked {
    background-color: #0275FF;
    border: 2px solid #015FCC;
}

.checkbox-border:checked::after {
    content: "";
    position: absolute;
    top: 37%;
    left: 50%;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.active-container {
    width: 345px;
    height: 62px;
    padding: 16px;
    box-sizing: border-box;
    background-color: #F9FAFB;
    transition: background-color 0.3s ease;
}

.active-container:hover {
    background-color: whitesmoke;
}

.task-item {
    width: 345px;
    height: fit-content;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #F9FAFB;
    border-radius: 6px;
    font-size: 14px;
    font-family: Inter;
    line-height: 16.94px;
    font-weight: 400;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.09s ease;
    justify-content: space-between;
    gap: 3px;
    margin-top: 20px;
  }

  .completed-task {
    text-decoration: line-through;
    color: black;
  }

  .text{
    width: 70%;
    display: flex;
    flex-wrap:initial;
}
.task-item:hover {
    background-color: #F3F4F6;
}

.delete-bttn {
    width: 67px;
    height: 30px;
    border-radius: 6px;
    padding: 6px 12px 6px 12px;
    gap: 10px;
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    background-color: #FEF2F2;
    color: #EF4444;
    border: none;
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
}
.main-cmpltd-cntnr{
    width: 345px;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 20px;
    border-top: 1px solid #E4E4E7;
}
.completed-counter-cntnr{
    width: fit-content;
    height: 17px;
    color: #6B7280;
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
}
.delete-all-completed-btn{
    width: 109px;
    height: 17px;
    font-family: Inter;
    font-size: 14px;
    line-height: 16.94px;
    color: #EF4444;
    border: none;
    background: none;
    padding: 0;
    font-weight: 400;
}